<a href="https://colab.research.google.com/github/AlisonLSL-97/projectHub/blob/master/twitter_SA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import nltk
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import warnings

pd.set_option("display.max_colwidth", 200)
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline

# New section
# Read train and test datasets

In [3]:
train = pd.read_csv("sample_data/train_tweets.csv")
test = pd.read_csv("sample_data/test_tweets.csv")

train.shape, test.shape

((31962, 3), (17197, 2))

# New section
Data Inspection

1.   Label 1 = Racist tweets
2.   Label 0 = Non-racist tweets

- Train dataset has id, labels and tweets
- Test dataset has id and tweets

In [4]:
train[train['label'] == 0].head(10)

   id  ...                                                                                                                                            tweet
0   1  ...                                            @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2  ...                       @user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3  ...                                                                                                                              bihday your majesty
3   4  ...                                                           #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5  ...                                                                                                           factsguide: society now    #motivation
5   6  ...                             [2/2] huge fan fare and big talking before they leave. chaos and pay disputes when they get there. #allshowandnogo
6   7  ...                                                                        @user camping tomorrow @user @user @user @user @user @user @user dannyâ¦
7   8  ...  the next school year is the year for exams.ð¯ can't think about that ð­ #school #exams   #hate #imagine #actorslife #revolutionschool #girl
8   9  ...                                                          we won!!! love the land!!! #allin #cavs #champions #cleveland #clevelandcavaliers  â¦
9  10  ...                                                                                                @user @user welcome here !  i'm   it's so #gr8 !

[10 rows x 3 columns]

In [5]:
train[train['label'] == 1].head()

    id  ...                                                                                                     tweet
13  14  ...                                @user #cnn calls #michigan middle school 'build the wall' chant '' #tcot
14  15  ...     no comment!  in #australia   #opkillingbay #seashepherd #helpcovedolphins #thecove  #helpcovedolphins
17  18  ...                                                                                    retweet if you agree!
23  24  ...                                                           @user @user lumpy says i am a . prove it lumpy.
34  35  ...  it's unbelievable that in the 21st century we'd need something like this. again. #neverump  #xenophobia

[5 rows x 3 columns]